<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.cu.gdu.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.cu.gdu.dto.CollegeDto" alias="CollegeDto"/>
		<typeAlias type="com.cu.gdu.dto.ApprovalFormDto" alias="ApprovalFormDto"/>
		<typeAlias type="com.cu.gdu.dto.ApprovalDocDto" alias="ApprovalDocDto"/>
		<typeAlias type="com.cu.gdu.dto.MajorDto" alias="majorDto"/>
		<typeAlias type="com.cu.gdu.dto.CalCtgDto" alias="CalCtgDto"/>
		<typeAlias type="com.cu.gdu.dto.CalendarDto" alias="CalendarDto"/>
		<typeAlias type="com.cu.gdu.dto.AffiliatedOrganDto" alias="AffiliatedOrganDto"/>
		<typeAlias type="com.cu.gdu.dto.JobDto" alias="JobDto"/>
		<typeAlias type="com.cu.gdu.dto.BoardDto" alias="BoardDto"/>
		<typeAlias type="com.cu.gdu.dto.AttachDto" alias="AttachDto"/>
		<typeAlias type="com.cu.gdu.dto.ReplyDto" alias="ReplyDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/approval-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/affiliatedOrgan-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>
	
</configuration>
