<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
  
  <resultMap id="boardResult" type="BoardDto">
  	<id column="board_no" property="boardNo"/>
  	<result column="mem_no" property="memNo"/>
  	<result column="mem_id" property="memId"/>
  	<result column="board_type" property="boardType"/>
  	<result column="board_title" property="boardTitle"/>
  	<result column="board_content" property="boardContent"/>
  	<result column="regist_date" property="registDate"/>
  	<result column="modify_date" property="modifyDate"/>
  	<result column="count" property="count"/>
  	<result column="open_Status" property="openStatus"/>
  	<result column="password" property="password"/>
  	<result column="attach_count" property="attachCount"/>
  	<collection  resultMap="attachResult" property="attachList"/>
  </resultMap>
  	
  <resultMap id="attachResult" type="AttachDto">
  		<id column="file_no" property="fileNo"/>
  		<result column="original_name" property="originalName"/>
  		<result column="filesystem_name" property="filesystemName"/>
  		<result column="file_path" property="filePath"/>
  		<result column="upload_date" property="uploadDate"/>
  		<result column="ref_no" property="refNo"/>
  		<result column="ref_type" property="refType"/>
  </resultMap>
  
  
  <resultMap id="replyResult" type="ReplyDto">
  	<id column="reply_no" property="replyNo"/>
  	<result column="board_no" property="boardNo"/>
  	<result column="mem_no" property="memNo"/>
  	<result column="reply_content" property="replyContent"/>
  	<result column="regist_date" property="registDate"/>
  	<result column="modify_date" property="modifyDate"/>
  </resultMap>
  	
  <!-- 게시글 목록 조회 -->	
  <select id="selectBoardListCount"  resultType="_int">
		select
					count(*)
			from board
		 where status = 'Y'
		 	 and board_type = #{boardType}
	</select>	
  
  <select id="selectBoardList" resultMap="boardResult">
		select 
            board_no
        ,	b.mem_no
        , mem_id
        , board_title
        , board_content
        , count
        , to_char(regist_date, 'YYYY-MM-DD') regist_date
        , (
            select count(*)
              from board_attach
             where ref_type = 'N'
               and ref_no = board_no
            ) attach_count
       <if test='boardType.equals("Q")'>
          , open_status, password
     	 </if>
    from board b
    join member m on (b.mem_no = m.mem_no)
   where b.status = 'Y'
     and board_type = #{boardType}
   order
     by board_no desc
				
	</select>	
  	
  	
  	
  <!-- 게시글 등록 -->
  <insert id="insertBoard">
		insert
			into board
			(
				board_no
			, mem_no
			, board_type
			, board_title
			, board_content
			<if test='boardType.equals("Q")'>
            , open_status, password
      </if>
			)
			values
			(
				seq_board_no.nextval
			, #{memNo}
			, #{boardType}
			, #{boardTitle} 
			, #{boardContent}
			<if test='boardType.equals("Q")'>
            , #{openStatus}, #{password}
      </if>
			)
	</insert>
  	
  	
  	
</mapper>
