<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

	<resultMap type="CalCtgDto" id="calCtgResult">
		<id column="ctg_no" property="ctgNo" />
		<result column="ctg_type" property="ctgType"/>
		<result column="mem_name" property="ctgWriter"/>
		<result column="ctg_name" property="ctgName"/>
		<result column="color" property="color"/>
		<result column="is_show" property="isShow"/>
		<result column="status" property="status"/>
		<result column="count" property="shareCount"/>
		<collection resultMap="shareMemResult" property="shList"/>
		
	</resultMap>
	
	<resultMap type="CalendarDto" id="calendarResult">
		<id column="cal_no" property="calNo" />
		<!-- 
		<result column="ctg_no" property="ctgNo" />
		<result column="ctg_type" property="ctgType"/>
		<result column="color" property="color" />
		 -->
		<result column="cal_title" property="calTitle" />
		<result column="cal_content" property="calContent" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="is_allday" property="isAllday" />
		<result column="regist_date" property="registDate" />
		<result column="cal_writer" property="calWriter" />
		<result column="modify_date" property="modifyDate" />
		<result column="modifier_name" property="modifier" />
		<result column="status" property="status" />
		<association resultMap="calCtgResult" property="ctg" />
	</resultMap>
	
	<resultMap type="ShareMemDto" id="shareMemResult">
		<result column="share_ctg_no" property="shareCtgNo"/>
		<result column="share_mem_no" property="shareMemNo"/>
		<result column="share_mem_name" property="shareMemName"/>
		<result column="right_level" property="rightLevel"/>
	</resultMap>
	
	
	
	<!-- 캘린더(일정카테고리) 조회 -->
	<select id="selectCalCtgList" resultMap="calCtgResult">
		select 
		       c.ctg_no
		     , ctg_type
		     , cm.mem_name cal_writer
		     , ctg_name
		     , color
		     , is_show
		     , s.ctg_no share_ctg_no
         , s.mem_no share_mem_no
         , sm.mem_name share_mem_name
         , right_level
         , (
             select count(*)
               from share_mem sc
               where sc.ctg_no = ctg_no
            ) count
		  from cal_ctg c
      join member cm on (ctg_writer = mem_no)
      left join share_mem s on (s.ctg_no = c.ctg_no)
      left join member sm on (s.mem_no = sm.mem_no)
     where c.status = 'Y'
       and ctg_type in ('1', '2')
       and ctg_writer = #{memNo}
       or s.mem_no = #{memNo}
     order
        by c.ctg_no asc 
		       
	</select>
	
	<!-- 캘린더(카테고리) 등록 -->
	<insert id="insertCalCtg">
		insert 
		  into cal_ctg
		  (
		  	ctg_no
		  , ctg_type
		  , ctg_writer
		  , ctg_name
		  , color	
		  )
		  values
		  (
		  	seq_ctg_no.nextval
		  , #{ctgType}
		  , #{ctgWriter}
		  , #{ctgName}
		  , #{color}	
		  )
	</insert>
	
	<!-- 캘린더(카테고리) 수정 -->
	<update id="updateCalCtg">
		update
		       cal_ctg
		   set ctg_name = #{ctgName}
		     , color = #{color}
		     , modify_date = sysdate
		 where ctg_no = #{ctgNo}       
	</update>
	
	<!-- 캘린더(카테고리) 삭제 -->
	<delete id="deleteCalCtg">
		delete
		  from cal_ctg
		 where ctg_no = #{ctgNo}
   
	</delete>
	
	<!-- 공유멤버 등록 -->
	<insert id="insertShareMem">
		insert
		  into share_mem
		  (
		  	ctg_no
		  , mem_no
		  , right_level	
		  )
		  values
		  (
		  	<choose>
					<when test='insertType != null and insertType.equals("N")'>
						seq_ctg_no.currval
					</when>
					<otherwise>
						#{shareCtgNo}
					</otherwise>
				</choose>
		  , #{shareMemNo}
		  , #{rightLevel}	
		  )
		  
	</insert>
	
	<!-- 일정 조회 -->
	<select id="selectCalendarList" resultMap="calendarResult">
		select 
		       cal_no
		     , cal_title
		     , cal_content
		     , e.start_date
		     , e.end_date
		     , is_allday
		     , to_char(e.regist_date, 'YYYY-MM-DD HH24:MI') regist_date
		     , cw.mem_name cal_writer
		     , to_char(e.modify_date, 'YYYY-MM-DD HH24:MI') modify_date
		     , mw.mem_name modifier_name
		     , e.status
		     , e.ctg_no
		     , ctg_type
		     , ctg_name
		     , color
		  from calendar e
		  join cal_ctg ctg on (e.ctg_no = ctg.ctg_no) 
		  join member cw on (cal_writer = cw.mem_no)
		  left join member mw on (modifier_no = mw.mem_no) 
		 <where>
		  e.status = 'Y'
		 	<foreach item="item" collection="array"
					open="and e.ctg_no in (" separator="," close=")">
				#{item}
			</foreach>
		 </where>
		 order
		    by cal_no asc  
	</select>

	<!-- 일정 등록 -->
	<insert id="insertCalendar">
		insert
		  into calendar
		  (
		  	cal_no
		  , ctg_no
		  , cal_title
		  , cal_content
		  , start_date
		  , end_date
		  , is_allday
		  , cal_writer	
		  )
		  values
		  (
		  	seq_cal_no.nextval
		  , #{ctgNo}
		  , #{calTitle}
		  , #{calContent}
		  , #{startDate}
		  , #{endDate}
		  , #{isAllday}
		  , #{calWriter}	
		  )
	
	</insert>
	
	<!-- 일정 개수 조회 -->
	<select id="selectCalListCount" resultType="_int">
		select 
		       count(*)
		  from calendar
		 where ctg_no = #{ctgNo}      
	</select>
	
	<!-- 일정 수정 -->
	<update id="updateCalendar">
		update
		       calendar
		   set ctg_no = #{ctgNo}
			   , cal_title = #{calTitle}
			   , cal_content = #{calContent}
			   , start_date = #{startDate}
			   , end_date = #{endDate}
			   , is_allday = #{isAllday}
			   , modifier_no = #{calWriter}
			   , modify_date = sysdate
		 where cal_no = #{calNo}            
	</update>
	
	<!-- 일정 삭제 -->
	<delete id="deleteCalendar">
		delete 
		  from calendar
		<where>
			<choose>
				<when test='type != null and type == 1'>
					cal_no = #{delNo}
				</when>
				<when test='type != null and type == 2'>
					ctg_no = #{delNo}
				</when>
			</choose>
			
		</where>  
	</delete>
	
	<!-- 학사 일정 조회 -->
	<select id="selectUnivCalList" resultMap="calendarResult">
		 select 
		       cal_no
		     , cal_title
		     , cal_content
		     , start_date
		     , end_date
		     , is_allday
         , ctg.ctg_no
		     , color
		  from calendar c
      join cal_ctg ctg on (ctg_type = 3 and c.ctg_no = ctg.ctg_no)  
	</select>
	
	
		  

</mapper>
