<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResult" type="MemberDto">
  	<id column="mem_no" property="memNo"/>
  	<result column="major_name" property="majorNo"/>
  	<result column="job_name" property="jobNo"/>
  	<result column="mem_name" property="memName"/>
  	<result column="mem_id" property="memId"/>
  	<result column="mem_pwd" property="memPwd"/>
  	<result column="phone" property="phone"/>
  	<result column="email" property="email"/>
  	<result column="address" property="address"/>
  	<result column="resident" property="resident"/>
  	<result column="hire_date" property="hireDate"/>
  	<result column="end_date" property="endDate"/>
  	<result column="status" property="status"/>
  	<result column="salary" property="salary"/>
  	<result column="sign_url" property="signUrl"/>
  	<result column="profile_url" property="profileUrl"/>
  	<result column="leave_count" property="leaveCount"/>
  	<result column="birth" property="birth"/>
  	<result column="gender" property="gender"/>
  </resultMap>
  
  <resultMap id="attendResult" type="AttendDto">
  		<id column="atd_no" property="atdNo"/>
  		<result column="mem_no" property="memNo"/>
  		<result column="start_time" property="startTime"/>
  		<result column="end_time" property="endTime"/>
  		<result column="regist_date" property="registDate"/>
  		<result column="modify_date" property="modifyDate"/>
  		<result column="mod_no" property="modNo"/>
  </resultMap>
  
  <resultMap id="vacationResult" type="VacationDto">
  		<id column="vac_no" property="vacNo"/>
  		<result column="mem_no" property="memNo"/>
  		<result column="vac_used" property="vacUsed"/>
  		<result column="vac_option" property="vacOption"/>
  		<result column="regist_date" property="registDate"/>
  		<result column="vac_reason" property="vacReason"/>
  		<result column="doc_no" property="docNo"/>
  		<result column="status" property="status"/>
  		<result column="start_date" property="startDate"/>
  		<result column="end_date" property="endDate"/>
  		<result column="vac_type_no" property="vacTypeNo"/>
  		<result column="vac_type" property="vacType"/>
  		
  </resultMap>
  
  
  
  <!--  로그인용 -->
  <select id="selectMember" resultMap="memberResult">
  <!-- * 암호화 적용 후 -->
  
    	select
  				mem_no, major_name, job_name, mem_name, mem_id, mem_pwd 
  			, phone, email, address, resident
  			, to_char(hire_date, 'YYYY-MM-DD') hire_date
  			, to_char(end_date, 'YYYY-MM-DD') end_date
  			, salary
  			, sign_url, profile_url, leave_count
  			, to_char(birth, 'YYYY-MM-DD') birth
  			, gender
  		from member
  		join major on (member.major_no = major.major_no)
		  join job on (member.job_no = job.job_no)
  	 where member.status = 'N'
  	 	 and mem_no = #{memNo}
  	 	 
  </select>
  
 	<!-- 비밀번호 변경용 --> 
 	<update id="updatePwd">
			update
						member
				 set mem_pwd = #{memPwd}
				where mem_no = #{memNo}
	</update>	
  
  <!-- 회원정보 수정용 -->
  <update id="updateMember">
			update member
				 set mem_name = #{memName}, 
				 		 email = #{email},
				 		 phone = #{phone},
				 		 address = #{address}
			 where mem_no = #{memNo}
	</update>
	
	<!-- 사인이미지 변경용 -->
 	<update id="updateSignImg">
 		update member
 			 set sign_url = #{signUrl}
 		 where mem_no = #{memNo}
 	</update>
  
  <!-- 프로필이미지 변경용 -->
 	<update id="updateProfileImg">
 		update member
 			 set profile_url = #{profileUrl}
 		 where mem_no = #{memNo}
 	</update>
  
  <!-- 출퇴근 관련 -->
  <select id="selectAttend" resultMap="attendResult">
		 select
						atd_no
					, TO_CHAR(start_time, 'HH24:MI') as start_time
          , TO_CHAR(end_time, 'HH24:MI') as end_time
			from attend
			where mem_no = #{memNo}
		 		and to_char(regist_date, 'YYYY-MM-DD') = #{registDate}
	</select>
	
	<insert id="insertAttend">
		insert 
			into attend
			(
				atd_no
			, mem_no
			, start_time
			, regist_date
			, status
			)
			values
			(
				seq_attend_no.nextval
			, #{memNo}
			, SYSDATE
			, SYSDATE
			,<choose>
		    <when test="startTime &lt; '09:00'">
		        '정상'
		    </when>
		    <otherwise>
		        '지각'
		    </otherwise>
			 </choose>
			)
	</insert>
	
	<update id="updateAttend">
		update
					attend
			 set end_time = SYSDATE
		 where mem_no = #{memNo}
			 and to_char(regist_date, 'YYYY-MM-DD') = #{registDate}
	</update>
  
  <!-- 휴가 목록 조회  -->
  <select id="selectVacationList" resultMap="vacationResult">
		select 
          vac_no
        ,	mem_no
        , vac_used
        , vac_option
        , to_char(regist_date, 'YYYY-MM-DD') regist_date
        , vac_reason
        , doc_no
        , status
        , to_char(start_date, 'YYYY-MM-DD') start_date
        , to_char(end_date, 'YYYY-MM-DD') end_date
        , v.vac_type_no
        , v.vac_type
        , vac_type_date
    from vacation v
    left join vacation_type t on (t.vac_type_no = v.vac_type_no)
   where mem_no = #{memNo}
   order
     by vac_no desc
	</select>
	
	<select id="selectVacationListCount"  resultType="_int">
		select
					count(*)
			from vacation
		 where mem_no = #{memNo}
	</select>	
	
	<select id="selectPlusVacCount" resultType="_int" >
		select nvl(sum(vac_used), 0)
      from vacation
     where vac_option = '보상'
     	 and mem_no = #{memNo}
	</select>
	
	<select id="selectUsedPlusVacCount" resultType="_int">
	select nvl(sum(vac_used), 0)
    from vacation
   where vac_option = '사용'
     and vac_type = '포상'
     and mem_no = #{memNo}
	</select>
	
	<!-- 휴가 신청 -->
	<insert id="insertVacation">
		insert
			into vacation
			(
				vac_no
			, mem_no
			, vac_used
			, vac_option
			, vac_reason
			, start_date
			, end_date
			, vac_type
			)
			values
			(
				seq_vac_no.nextval
			, #{memNo}
			, #{vacUsed}
			, '사용'
			, #{vacReason}
			, #{startDate}
			, #{endDate}
			, #{vacType}
			)
	</insert>
	<update id="updateMemVac">
		update
					member
			 set leave_count = leave_count - #{vacUsed}
			 where mem_no = #{memNo}
	</update>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

</mapper>
